<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
<div id="booking" class="section">
      {% include "Header.html" %}
        <div class="container">
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Flight details </h3>
  </div>
  <div class="panel-body">
                <div class="row g-0">
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">flight number</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.flight_number }}</div>
                  </div>
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Arrival airport</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.arrival_airport }}</div>
                  </div>
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Departure Airport</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.departure_airport }}</div>
                  </div>

                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Departure Time</div>
                    </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.departure_time }}</div>
                  </div>

                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Arrival Time</div>
                    </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.arrival_time }}</div>
                  </div>


                     <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <div class="p-2">Ticket Price</div>
                    </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{ flight.ticket_price }}</div>
                  </div>
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                        <a type="button" class="btn btn-primary" href="/reserve_flight/">Reserve your flight now !</a>
                    </div>

                </div>
  </div>
</div>

</div>
    </div>
</body>
</html>