<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<nav class="navbar fixed-top navbar-expand-lg navbar-transparent">
         <a class="navbar-brand" href="/">Airline Reservation</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active"> <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a> </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"> <a class="nav-link" href="/user_profile">Profile</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/flight_list">Flight</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/reserve_flight">Create new reservation</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/create_flight">Create new flight</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/logout_view">Logout</a> </li>
                    {% else %}
                    <li class="nav-item"> <a class="nav-link" href="/registration_view">Register</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="/login_view">Login</a> </li>
                    {% endif %}
            </ul>
         </div>
</nav>
<br>
<br>
<br>
<br>