{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link type="text/css" rel="stylesheet" href="{% static 'bootstrap.min.css' %} " />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html>
    <head>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

            .body {
            // custom fonts, etcetera can go here
            }

            .jumbotron-flat {
              background-color: solid #4DB8FFF;
              height: 100%;
              border: 1px solid #4DB8FF;
              background: white;
              width: 100%;
            text-align: center;
            overflow: auto;
            }

            .paymentAmt {
                font-size: 80px;
            }

            .centered {
                text-align: center;
            }

            .title {
             padding-top: 15px;
            }
        </style>

        <title>Derwiki's Stripe Payment form + checkout'</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
    </head>
    <body style="font-family: 'Open Sans', sans-serif;">
        <div class="container">
        <div class="centered title"><h1>Welcome to our checkout.</h1></div>
     </div>
     <hr class="featurette-divider"></hr>
         <div class="container">
            <div class="row">
                <div class="col-sm-6">
                <div class="tab-content">
  <div id="stripe" class="tab-pane fade in active">
                       <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
      <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
      <br>
      <div class='form-row'>
          <div class='form-group required'>
              <div class='error form-group hide'>
                  <div class='alert-danger alert'>
                      Please correct the errors and try again.

                  </div>
              </div>
              <label class='control-label'>Name on Card</label>
              <input class='form-control' size='4' type='text'>
          </div>

      </div>
      <div class='form-row'>
          <div class='form-group card required'>
              <label class='control-label'>Card Number</label>
              <input autocomplete='off' class='form-control card-number' size='20' type='text'>
          </div>
      </div>
      <div class='form-row'>
          <div class='form-group card required'>
              <label class='control-label'>Billing Address</label>
              <input autocomplete='off' class='form-control' size='20' type='text'>
          </div>
      </div>
      <div class='form-row'>
          <div class='form-group cvc required'>
              <label class='control-label'>CVC</label>
              <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'>
          </div>
          <div class='form-group expiration required'>
              <label class='control-label'>Expiration</label>
              <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'>
          </div>
          <div class='form-group expiration required'>
              <label class='control-label'>Year</label>
              <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'>
          </div>
      </div>


      <div class='form-row'>
          <div class='form-group'>
              <label class='control-label'></label>
              <form method="post">
                         {% csrf_token %}
                    <button class='form-control btn btn-primary' type='submit'> Continue →</button>
                </form>



          </div>
            </div>

              </div>
            </div>



        </div>

        <div class="col-sm-6">
           <label class='control-label'></label><!-- spacing -->

          <div class="alert alert-info">Please choose your method of payment and hit continue. You will then be sent down to pay using your selected payment option.</div>
       <br>
          <br><br><br>

         <div class="jumbotron jumbotron-flat">
            <div class="center"><h2><i>Flight details :</i></h2></div>
           <div class="paymentAmt">{{flight.flight_number}} {{flight.departure_airport}} {{flight.arrival_airport}}</div>
             <div class="center"><h2><i>Departures at</i></h2></div>
           <div class="paymentAmt">{{flight.departure_time}}</div>

             <div class="center"><h2><i>Tcket price due:</i></h2></div>
           <div class="paymentAmt">{{flight.ticket_price}}$</div>
         </div>



            <br><br><br>
        </div>



                </div>



            </div>
        </div>


        </form>

    </body>
</html>