<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation details</title>
</head>
<body>
    {% include "Header.html" %}
    <div class="container">
      <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reservation details </h3>
  </div>
  <div class="panel-body">
                    <div class="row g-0">
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">flight number</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{reservation.flight.flight_number}}</div>
                  </div>
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Departured airport</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{reservation.flight.departure_airport}}</div>
                  </div>
                  <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                    <div class="p-2">Reserved at</div>
                  </div>
                  <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                    <div class="p-2">{{reservation.reservation_date}}</div>
                  </div>
                </div>
  </div>
</div>
    </div>
</body>
</html>